#blog-cards {
	padding: 80px 0;
	background-color: $main-bg-color-light;
	.container {
		.row {
			.blog-card {
				border-radius: 5px;
				background-color: $main-color-light;
				.blog-image {
					overflow: hidden;
					position: relative;
					img {
						max-height: 400px;
						width: 730px;
						object-fit: cover;
						background-position-y: top;
						transition: 0.5s;
						&:hover {
							transform: scale(1.1);
						}
					}
					&::after {
						content: "APR 09";
						position: absolute;
						color: $main-color-light;
						background-color: $secondary-color-dark;
            opacity: .8;
						font-size: 16px;
            padding: 5px 25px;
            border-radius: 5px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            text-align: center;
            z-index: 999;
					}
				}
				.post-comments {
					a {
						text-decoration: none;
						i {
							padding: 25px 10px 0 10px;
							color: $main-bg-color-dark;
							@include primary-font($font-size: 15px);
							cursor: pointer;
						}
					}
				}
				.context {
					padding-top: 20px;
					text-align: center;
					h4 {
						color: $main-color-dark;
						@include primary-font($font-size: 18px);
						line-height: 30px;
					}
					p {
						color: $secondary-color-dark;
						@include primary-font($font-size: 14px);
					}
				}
				.blog-btn {
					height: 80px;
					padding-top: 20px;
					a {
						@extend %primary-btn;
						padding: 12px 40px;
					}
				}
			}
			.blog-search {
				position: relative;
				.input-search {
					@extend %primary-input-text;
					width: 100% !important;
					padding-left: 20px;
					transition: 0.5s all;
					&:focus {
						padding-left: 30px;
					}
				}
				a {
					padding: 7px 10px;
					border-radius: 5px;
					background-color: $main-bg-color-dark;
					position: absolute;
					right: -13px;
					top: 50%;
					transform: translate(-50%, -50%);
					i {
						color: $main-color-light;
						transition: .5s;
					}
					&:hover {
						i {
							transform: scale(1.2);
						}
					}
				}
			}
			.blog-category {
				margin: 25px 0;
				padding: 0;
				border-radius: 5px;
				background-color: $main-color-light;
				// box-shadow: $main-box-shadow;
				li {
					border-radius: 5px;
					overflow: hidden;
					height: 50px;
					margin: 8px;
					position: relative;
					&::after {
						content: attr(data-id);
						position: absolute;
						text-align: center;
						cursor: pointer;
						padding-top: 2px;
						font-size: 12px;
						color: $main-color-light;
						background-color: $main-bg-color-dark;
						border-radius: 100px;
						width: 35px;
						height: 25px;
						right: 0px;
						top: 50%;
						transform: translate(-50%, -50%);
					}
					&:hover {
						a {
							padding-left: 70px;
						}
					}
					a {
						transition: 0.3s;
						display: inline-block;
						width: 100%;
						height: 100%;
						padding-top: 13px;
						@include primary-font($font-size: 14px);
						background-color: $main-color-light;
						text-decoration: none;
						color: $main-color-dark;
						border-radius: 5px;
						padding-left: 60px;
					}
					i {
						color: $main-color-dark;
						position: absolute;
						font-size: 10px;
						z-index: 9999;
						left: 30px;
						top: 50%;
						transform: translate(-50%, -50%);
						cursor: pointer;
					}
				}
			}
			.tags {
				list-style: none;
				margin: 25px 0;
				padding: 0;
				border-radius: 5px;
				background-color: $main-color-light;
				border-radius: 5px;
				overflow: hidden;
				padding: 30px 30px;
				li {
					display: inline;
					padding: 3px;
					line-height: 40px;
					a {
						border-radius: 5px;
						background-color: $main-bg-color-light;
						text-decoration: none;
						padding: 6px 7px;
						color: $main-color-dark;
						@include primary-font($font-size: 14px);
					}
				}
			}
			.blog-side-image {
				height: 250px;
				overflow: hidden;
				position: relative;
				border-radius: 5px;
				img {
					object-fit: cover;
					background-position: center;
					width: 221px;
					height: 100%;
					border-radius: 5px;
					transition: 0.5s;
					&:hover {
						transform: scale(1.1);
					}
				}
				.context {
					padding: 0 10px;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background-color: #585de9d2;
					z-index: 0;
					p {
						color: $main-color-light;
						@include primary-font($font-size: 20px);
						z-index: 1;
					}
					.contact-us-btn {
						background-color: $main-bg-color-light;
						border-radius: 5px;
						transition: 0.5s;
						&:hover {
							a {
								color: $main-color-light;
							}
						}
						a {
							background-color: $main-color-light;
							color: $main-bg-color-dark;
							text-decoration: none;
							@include primary-font();
							@extend %primary-btn;
						}
					}
				}
			}
			.pages-number {
				padding-left: 0;
				list-style: none;
				li {
					background-color: $main-bg-color-light;
					border: 1px solid $secondary-color-dark;
					a {
						display: inline-block;
						padding: 7px 15px;
						text-decoration: none;
						color: $main-bg-color-dark;
					}
					&:hover {
						background-color: $main-bg-color-dark;
						a {
							color: $main-bg-color-light;
						}
					}
				}
			}
		}
	}
}
