.navbar .login > ul li a, .bottom-header .container .row .left-side .context a, #pricing-plans .container .row .pricing-card .pricing-btn a, #parallax-text .row .parallax-context a, #blog-posts .container .row .blog-card .blog-btn a {
  text-decoration: none;
  width: 110px;
  height: 32px;
  border: 1px solid #585ce9;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 1px;
  color: #fff;
  background-color: #585ce9;
}

.navbar .login > ul li a:hover, .bottom-header .container .row .left-side .context a:hover, #pricing-plans .container .row .pricing-card .pricing-btn a:hover, #parallax-text .row .parallax-context a:hover, #blog-posts .container .row .blog-card .blog-btn a:hover {
  background-color: #3138ff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1150px !important;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
}

@media only screen and (max-width: 992px) {
  .navbar {
    max-height: 80px;
  }
  .navbar .logo {
    max-width: calc(100% / 12 * 2) !important;
    padding-left: 25px !important;
  }
  .navbar .menu {
    display: none;
  }
  .navbar .login {
    display: none;
  }
  .navbar .menu-icon {
    max-width: calc(100% / 12 * 2) !important;
    display: inline !important;
  }
  .menu-active {
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
  .bottom-header .left-side {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-header .left-side .context {
    text-align: center;
  }
  .bottom-header .right-side {
    margin-top: 50px;
  }
  .bottom-header .right-side img {
    width: 350px !important;
  }
  #welcome-cards .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  #welcome-cards .row .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #cloud-services .left-side {
    width: calc(100% / 12 * 12) !important;
    text-align: center;
    margin-bottom: 20px;
  }
  #cloud-services .left-side .context {
    text-align: left;
  }
  #cloud-services .left-side .context h2 {
    font-size: 16px !important;
  }
  #cloud-services .left-side .context .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #cloud-services .left-side .context .category div {
    width: calc(100% / 12 * 12) !important;
  }
  #cloud-services .right-side {
    width: calc(100% / 12 * 12) !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #design-development .right-side {
    width: calc(100% / 12 * 12) !important;
    text-align: center;
  }
  #design-development .right-side .context {
    text-align: left;
  }
  #design-development .right-side .context h2 {
    font-size: 16px !important;
  }
  #design-development .right-side .context .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #design-development .right-side .context .category div {
    width: calc(100% / 12 * 12) !important;
  }
  #design-development .left-side {
    margin-bottom: 20px;
    width: calc(100% / 12 * 12) !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #our-team .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
  }
  #our-team .row .item-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #our-team .row .item-card .context P {
    max-width: 400px;
  }
  #pricing-plans .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  #pricing-plans .row .pricing-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #blog-posts .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
  }
  #blog-posts .row .blog-posts-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #our-mission .container .row .our-mission-context {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #our-mission .container .row .our-mission-context .our-right-side {
    width: 100% !important;
    margin-top: 50px;
    position: static !important;
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
  }
  #our-vision .container .row .our-vision-context {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #our-vision .container .row .our-vision-context .our-left-side {
    width: 100% !important;
    margin-bottom: 50px;
    position: static !important;
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
  }
  footer .left-side-logo {
    padding-bottom: 30px;
  }
  footer .helpful-links {
    padding-bottom: 30px;
  }
  footer .support {
    padding-bottom: 30px;
  }
  footer .contact {
    padding-bottom: 30px;
  }
  footer .footer-copyright {
    padding-bottom: 30px;
  }
}

.navbar {
  position: relative;
  margin: 0;
  width: 100%;
  padding: 10px;
  height: 100px;
  z-index: 9999999999;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.navbar .menu-icon {
  display: none;
}

.navbar .logo {
  padding: 0;
  margin: 0;
}

.navbar .menu > ul {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.navbar .menu > ul li {
  padding: 20px;
  cursor: pointer;
  position: relative;
  height: 100%;
  z-index: 1;
}

.navbar .menu > ul li:hover ul.sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar .menu > ul li ul {
  z-index: 0;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 200px;
  height: auto;
  list-style: none;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
}

.navbar .menu > ul li ul li {
  margin: 0;
  padding: 8px 20px;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .menu > ul li ul li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  top: 0;
  bottom: 0;
  background-color: #585ce9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .menu > ul li ul li:hover {
  background: #f5f5f5;
  padding-left: 25px;
}

.navbar .menu > ul li ul li:hover::before {
  width: 3px;
}

.navbar .menu > ul li ul li a {
  font-size: 13px;
  font-weight: 300;
  color: #3b566e;
  letter-spacing: 1px;
  font-family: "Nunito", sans-serif;
}

.navbar .menu > ul li i {
  margin-left: 5px;
  font-size: 8px;
  color: #3b566e;
}

.navbar .menu > ul li a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #3b566ea9;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar .login {
  padding: 0;
}

.navbar .login > ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}

.navbar .login > ul li {
  cursor: pointer;
}

.navbar .login > ul li a.sign-up {
  color: #fff;
  background-color: #585ce9;
}

.navbar .login > ul li a.sign-up:hover {
  color: #585ce9;
  background-color: #fff;
}

.navbar .login > ul li a.sign-in {
  color: #585ce9;
  background-color: #fff;
}

.navbar .login > ul li a.sign-in:hover {
  color: #fff;
  background-color: #585ce9;
}

.navbar .menu-icon {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.navbar .menu-icon span {
  display: block;
  line-height: 10px;
  font-weight: 900;
  color: #3b566e;
}

.menu-responsive {
  visibility: hidden;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  padding-top: 25px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: #fff;
  z-index: 999999999;
}

.menu-responsive ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-responsive ul li {
  padding: 15px;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  cursor: pointer;
}

.menu-responsive ul li:hover {
  background: #f5f5f5;
}

.menu-responsive ul li a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #3b566e;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.menu-responsive ul li i {
  margin-left: 5px;
  font-size: 8px;
  color: #3b566e;
  padding-right: 25px;
}

.menu-responsive ul .sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  width: 100%;
  overflow: hidden;
  background: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.menu-responsive ul .sub-menu li {
  margin: 0;
  border-bottom: 1px solid #f5f5f5;
  padding: 8px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-responsive ul .sub-menu li:hover {
  background: #f5f5f5;
}

.menu-responsive ul .sub-menu li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #3b566e;
  font-family: "Nunito", sans-serif;
}

.active-scroll {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.bottom-header {
  padding: 80px 0;
}

.bottom-header .container .row .left-side {
  padding: 0 10px;
}

.bottom-header .container .row .left-side .context {
  padding: 0 20px;
}

.bottom-header .container .row .left-side .context h1 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #3b566e;
  line-height: 45px;
  padding-bottom: 20px;
}

.bottom-header .container .row .left-side .context h1 span {
  color: #585ce9;
}

.bottom-header .container .row .left-side .context p {
  color: #3b566e;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.bottom-header .container .row .right-side {
  height: 500px;
  padding: 0 10px;
}

.bottom-header .container .row .right-side .card-1 .image-1 {
  height: 55%;
  border-radius: 5px;
  overflow: hidden;
}

.bottom-header .container .row .right-side .card-1 .image-1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 221px;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom-header .container .row .right-side .card-1 .image-1 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bottom-header .container .row .right-side .card-1 .image-2 {
  height: 45%;
  overflow: hidden;
}

.bottom-header .container .row .right-side .card-1 .image-2 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 221px;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom-header .container .row .right-side .card-1 .image-2 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bottom-header .container .row .right-side .card-2 .image-3 {
  height: 45%;
  overflow: hidden;
}

.bottom-header .container .row .right-side .card-2 .image-3 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 221px;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom-header .container .row .right-side .card-2 .image-3 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bottom-header .container .row .right-side .card-2 .image-4 {
  height: 55%;
  overflow: hidden;
}

.bottom-header .container .row .right-side .card-2 .image-4 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 221px;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom-header .container .row .right-side .card-2 .image-4 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#welcome-cards {
  padding: 80px 0;
}

#welcome-cards .container .row .card {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
  height: 100%;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#welcome-cards .container .row .card:hover {
  background-color: #585ce9;
}

#welcome-cards .container .row .card:hover h5 {
  color: #fff;
}

#welcome-cards .container .row .card:hover p {
  color: #fff;
}

#welcome-cards .container .row .card:hover .item-icon {
  background-color: #fff;
}

#welcome-cards .container .row .card .item-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f5f5f5;
  text-align: center;
  position: relative;
}

#welcome-cards .container .row .card .item-icon i {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #585ce9;
  font-size: 18px;
}

#welcome-cards .container .row .card h5 {
  color: #3b566e;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 20px;
}

#welcome-cards .container .row .card p {
  color: #3b566ea9;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 20px;
}

#cloud-services {
  background: #f5f5f5;
  padding: 80px 0;
}

#cloud-services .container .row .left-side {
  padding: 0 30px;
}

#cloud-services .container .row .left-side .context h2 {
  color: #3b566e;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

#cloud-services .container .row .left-side .context p {
  padding: 10px 0;
  color: #3b566ea9;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

#cloud-services .container .row .left-side .context .category div {
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  overflow: hidden;
  height: 40px;
  width: 250px;
  margin: 8px;
  position: relative;
}

#cloud-services .container .row .left-side .context .category div::after {
  content: '';
  cursor: pointer;
  position: absolute;
  background: #f5f5f5;
  width: 100px;
  height: 100px;
  left: -40px;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#cloud-services .container .row .left-side .context .category div.active-after::after {
  background: #585ce9;
  left: -30px;
}

#cloud-services .container .row .left-side .context .category div.active-after a {
  padding-left: 70px;
}

#cloud-services .container .row .left-side .context .category div.active-after i {
  color: #fff;
}

#cloud-services .container .row .left-side .context .category div:hover::after {
  background: #585ce9;
  left: -30px;
}

#cloud-services .container .row .left-side .context .category div:hover a {
  padding-left: 70px;
}

#cloud-services .container .row .left-side .context .category div:hover i {
  color: #fff;
}

#cloud-services .container .row .left-side .context .category div a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #fff;
  text-decoration: none;
  color: #3b566e;
  border-radius: 5px;
  padding-left: 60px;
}

#cloud-services .container .row .left-side .context .category div i {
  color: #3b566e;
  position: absolute;
  font-size: 10px;
  z-index: 9999;
  left: 30px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

#cloud-services .container .row .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#design-development {
  padding: 80px 0;
}

#design-development .container .row .right-side {
  padding: 0 30px;
}

#design-development .container .row .right-side .context h2 {
  color: #3b566e;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

#design-development .container .row .right-side .context p {
  padding: 10px 0;
  color: #3b566ea9;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

#design-development .container .row .right-side .context .category div {
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  overflow: hidden;
  height: 40px;
  width: 250px;
  margin: 8px;
  position: relative;
}

#design-development .container .row .right-side .context .category div::after {
  content: '';
  cursor: pointer;
  position: absolute;
  background: #f5f5f5;
  width: 100px;
  height: 100px;
  left: -40px;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#design-development .container .row .right-side .context .category div.active-after::after {
  background: #585ce9;
  left: -30px;
}

#design-development .container .row .right-side .context .category div.active-after a {
  padding-left: 70px;
}

#design-development .container .row .right-side .context .category div.active-after i {
  color: #fff;
}

#design-development .container .row .right-side .context .category div:hover::after {
  background: #585ce9;
  left: -30px;
}

#design-development .container .row .right-side .context .category div:hover a {
  padding-left: 70px;
}

#design-development .container .row .right-side .context .category div:hover i {
  color: #fff;
}

#design-development .container .row .right-side .context .category div a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #fff;
  color: #3b566e;
  text-decoration: none;
  border-radius: 5px;
  padding-left: 60px;
}

#design-development .container .row .right-side .context .category div i {
  color: #3b566e;
  position: absolute;
  font-size: 10px;
  z-index: 9999;
  left: 30px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

#design-development .container .row .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#parallax-counter {
  padding: 80px 0;
  background-image: url("../images/parallax.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
  min-height: 300px;
  position: relative;
}

#parallax-counter:after {
  content: '';
  background-color: #585de9a9;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#parallax-counter .row {
  height: 100%;
}

#parallax-counter .row .parallax-context {
  padding-bottom: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  height: 100%;
  z-index: 1;
}

#parallax-counter .row .parallax-context h2 {
  height: 100%;
  text-align: center;
  display: block;
  color: white;
  z-index: 999;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 15px;
}

#parallax-counter .row .parallax-context h2::after {
  content: "---------------";
  position: absolute;
  color: #fff;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 200px;
  font-size: 18px;
}

#parallax-counter .row .parallax-context span {
  height: 100%;
  text-align: center;
  display: inline-block;
  color: #fff;
  z-index: 999;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

#parallax-counter .row .parallax-context:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

#our-team {
  padding: 80px 0;
}

#our-team .container .row .our-team-title {
  text-align: center;
  padding-bottom: 30px;
}

#our-team .container .row .our-team-title h2 {
  color: #3b566e;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

#our-team .container .row .our-team-title p {
  color: #3b566ea9;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 500px;
}

#our-team .container .row .team-card {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#our-team .container .row .team-card .item-card {
  margin: 0 !important;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
  position: relative;
  border-radius: 5px;
  text-align: center;
}

#our-team .container .row .team-card .item-card:after {
  content: '';
  position: absolute;
  background-color: #585ce9;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: -9999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#our-team .container .row .team-card .item-card:hover::after {
  height: 110px;
}

#our-team .container .row .team-card .item-card:hover .context i {
  color: #fff;
}

#our-team .container .row .team-card .item-card:hover .image {
  -webkit-transform: translateY(65%);
          transform: translateY(65%);
}

#our-team .container .row .team-card .item-card .context h5 {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-top: 10px;
}

#our-team .container .row .team-card .item-card .context h6 {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  padding-bottom: 20px;
}

#our-team .container .row .team-card .item-card .context i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #3b566e;
  font-size: 15px;
  color: #3b566e;
  z-index: 1;
  padding-right: 10px;
  cursor: pointer;
}

#our-team .container .row .team-card .item-card .context p {
  padding: 20px;
}

#our-team .container .row .team-card .item-card .image {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: .5s all;
  transition: .5s all;
}

#our-team .container .row .team-card .item-card img {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 5px solid #f5f5f5;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

#pricing-plans {
  background: #f7fafd;
  padding: 80px 0;
}

#pricing-plans .container .row .pricing-plan-title {
  text-align: center;
  padding-bottom: 30px;
}

#pricing-plans .container .row .pricing-plan-title h2 {
  color: #3b566e;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

#pricing-plans .container .row .pricing-plan-title p {
  color: #6f8ba4;
  font-size: 16px;
  font-weight: 400;
  max-width: 500px;
}

#pricing-plans .container .row .pricing-card {
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#pricing-plans .container .row .pricing-card .top-title {
  padding-top: 25px;
}

#pricing-plans .container .row .pricing-card .top-title h4 {
  color: #3b566e;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

#pricing-plans .container .row .pricing-card .count {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  position: relative;
}

#pricing-plans .container .row .pricing-card .count span {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #585ce9;
  font-size: 18px;
}

#pricing-plans .container .row .pricing-card .price h2 {
  color: #585ce9;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1px;
}

#pricing-plans .container .row .pricing-card .price h2 span {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

#pricing-plans .container .row .pricing-card .plans {
  text-align: center;
}

#pricing-plans .container .row .pricing-card .plans h6 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #3b566e;
  line-height: 20px;
}

#pricing-plans .container .row .pricing-card .plans h6.strikeout {
  text-decoration: line-through;
  opacity: 0.5;
}

#pricing-plans .container .row .pricing-card .pricing-btn {
  padding-bottom: 25px;
}

#pricing-plans .container .row .pricing-card.middle-card {
  z-index: 1;
  position: relative;
}

#pricing-plans .container .row .pricing-card.middle-card:after {
  content: '';
  position: absolute;
  background-color: #585de9;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#pricing-plans .container .row .pricing-card.middle-card .top-title h4 {
  color: #fff;
}

#parallax-text {
  padding: 80px 0;
  background-image: url("../images/parallax.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
  min-height: 300px;
  position: relative;
}

#parallax-text:after {
  content: '';
  background-color: #585de9a9;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#parallax-text .row {
  height: 100%;
}

#parallax-text .row .parallax-context {
  height: 100%;
}

#parallax-text .row .parallax-context p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  z-index: 999;
  padding-bottom: 25px;
}

#parallax-text .row .parallax-context p span {
  text-decoration: underline;
}

#parallax-text .row .parallax-context a {
  color: #585ce9;
  background-color: #fff;
  width: 170px;
  height: 45px;
  z-index: 999;
  padding-top: 12px;
  text-align: center;
}

#parallax-text .row .parallax-context a:hover {
  background-color: #585ce9;
  color: #fff;
}

#blog-posts {
  padding: 80px 0;
}

#blog-posts .container .row .blog-posts-title {
  text-align: center;
  padding-bottom: 30px;
}

#blog-posts .container .row .blog-posts-title h2 {
  color: #3b566e;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

#blog-posts .container .row .blog-posts-title p {
  color: #3b566ea9;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 500px;
}

#blog-posts .container .row .blog-card {
  padding: 0 5px;
}

#blog-posts .container .row .blog-card .blog-image {
  border-radius: 5px;
  overflow: hidden;
}

#blog-posts .container .row .blog-card .blog-image img {
  height: 220px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position-y: top;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#blog-posts .container .row .blog-card .blog-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#blog-posts .container .row .blog-card .context {
  padding-top: 20px;
}

#blog-posts .container .row .blog-card .context h4 {
  color: #3b566e;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  line-height: 30px;
}

#blog-posts .container .row .blog-card .context p {
  color: #3b566ea9;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

#blog-posts .container .row .blog-card .blog-btn {
  padding-top: 20px;
}

#blog-posts .container .row .blog-card .blog-btn a {
  padding: 12px 40px;
}

footer {
  background-color: #585ce9;
}

footer .container .row {
  padding-top: 50px;
}

footer .container .row .left-side-logo {
  padding-left: 20px;
  color: #f5f5f5;
}

footer .container .row .helpful-links h4 {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

footer .container .row .helpful-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .container .row .helpful-links ul li {
  position: relative;
}

footer .container .row .helpful-links ul li a {
  -webkit-transition: .5s all;
  transition: .5s all;
  padding-left: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

footer .container .row .helpful-links ul li::after {
  content: ">";
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .container .row .helpful-links ul li:hover a {
  padding-left: 25px;
}

footer .container .row .support h4 {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

footer .container .row .support ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .container .row .support ul li {
  position: relative;
}

footer .container .row .support ul li a {
  -webkit-transition: .5s all;
  transition: .5s all;
  padding-left: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

footer .container .row .support ul li::after {
  content: ">";
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .container .row .support ul li:hover a {
  padding-left: 25px;
}

footer .container .row .contact-us h4 {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

footer .container .row .contact-us p {
  line-height: 30px;
  margin: 0;
  color: #f5f5f5;
}

footer .container .row .contact-us span {
  color: #f5f5f5;
}

footer .container .row .contact-us span a {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

footer .container .row .social-icons {
  padding-top: 10px;
}

footer .container .row .social-icons a {
  text-decoration: none;
}

footer .container .row .social-icons a i {
  color: #f5f5f5;
}

footer .container .row .social-icons a i:hover {
  color: rgba(201, 216, 236, 0.164);
}

footer .container .row .footer-copyright {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f5f5f5;
  margin-top: 30px;
  padding: 20px 0;
  border-top: 1px solid rgba(197, 197, 197, 0.356);
}

#about-us {
  background-color: #f5f5f5;
  padding: 80px 0;
  background-image: url("../images/2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
  min-height: 300px;
  position: relative;
}

#about-us:after {
  content: "";
  background-color: #585de9a9;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#about-us .container .row .about-us-context {
  z-index: 1;
}

#about-us .container .row .about-us-context h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f5f5f5;
  position: relative;
}

#about-us .container .row .about-us-context h1::after {
  content: "";
  width: 20px;
  position: absolute;
  border: 1px solid #fff;
  left: 50%;
  top: 120%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#about-us .container .row .about-us-context a {
  padding-top: 20px;
  color: #f5f5f5;
  text-decoration: none;
  display: inline-block;
}

#about-us .container .row .about-us-context span {
  color: #f5f5f5;
}

#business-succed {
  background-color: #f5f5f5;
  padding: 80px 0;
}

#business-succed .container .row .about-card .about-title {
  text-align: center;
  padding-bottom: 30px;
}

#business-succed .container .row .about-card .about-title h2 {
  color: #3b566e;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

#business-succed .container .row .about-card .about-title p {
  color: #3b566ea9;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 500px;
}

#business-succed .container .row .card {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
  height: 270px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#business-succed .container .row .card:hover {
  background-color: #585ce9;
}

#business-succed .container .row .card:hover h5 {
  color: #fff;
}

#business-succed .container .row .card:hover p {
  color: #fff;
}

#business-succed .container .row .card:hover .item-icon {
  background-color: #fff;
}

#business-succed .container .row .card .item-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f5f5f5;
  text-align: center;
  position: relative;
}

#business-succed .container .row .card .item-icon i {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: #585ce9;
  font-size: 18px;
}

#business-succed .container .row .card h5 {
  color: #3b566e;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 20px;
}

#business-succed .container .row .card p {
  color: #3b566ea9;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 20px;
}

#our-mission {
  padding: 80px 0;
  background-color: #f5f5f5;
}

#our-mission .container .row .our-mission-context {
  position: relative;
}

#our-mission .container .row .our-mission-context .our-left-side {
  overflow: hidden;
  z-index: 0;
}

#our-mission .container .row .our-mission-context .our-left-side img {
  -webkit-transition: .5s all;
  transition: .5s all;
  border-radius: 5px;
}

#our-mission .container .row .our-mission-context .our-left-side img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#our-mission .container .row .our-mission-context .our-right-side {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  min-height: 380px;
  width: 450px;
  z-index: 1;
  background-color: #fff;
}

#our-mission .container .row .our-mission-context .our-right-side h4 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 15px 20px 0 20px;
  color: #3b566e;
}

#our-mission .container .row .our-mission-context .our-right-side p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  color: #3b566ea9;
  line-height: 30px;
}

#our-vision {
  padding: 80px 0;
  background-color: #f5f5f5;
}

#our-vision .container .row .our-vision-context {
  position: relative;
}

#our-vision .container .row .our-vision-context .our-right-side {
  overflow: hidden;
  z-index: 0;
}

#our-vision .container .row .our-vision-context .our-right-side img {
  -webkit-transition: .5s all;
  transition: .5s all;
  border-radius: 5px;
}

#our-vision .container .row .our-vision-context .our-right-side img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#our-vision .container .row .our-vision-context .our-left-side {
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  min-height: 380px;
  width: 450px;
  z-index: 1;
  background-color: #fff;
}

#our-vision .container .row .our-vision-context .our-left-side h4 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 15px 20px 0 20px;
  color: #3b566e;
}

#our-vision .container .row .our-vision-context .our-left-side p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  color: #3b566ea9;
  line-height: 30px;
}

#features {
  background-color: #f5f5f5;
  padding: 80px 0;
  background-image: url("../images/2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
  min-height: 300px;
  position: relative;
}

#features:after {
  content: "";
  background-color: #585de9a9;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#features .container .row .features-context {
  z-index: 1;
}

#features .container .row .features-context h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f5f5f5;
  position: relative;
}

#features .container .row .features-context h1::after {
  content: "";
  width: 20px;
  position: absolute;
  border: 1px solid #fff;
  left: 50%;
  top: 120%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#features .container .row .features-context a {
  padding-top: 20px;
  color: #f5f5f5;
  text-decoration: none;
  display: inline-block;
}

#features .container .row .features-context span {
  color: #f5f5f5;
}

#our-services {
  background-color: #f5f5f5;
  padding: 80px 0;
}

#our-services .container .row .services-card {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
  height: 220px;
  border-radius: 5px;
  margin-bottom: 22px;
}

#our-services .container .row .services-card:hover .image-box {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#our-services .container .row .services-card .image-box {
  position: relative;
  margin-left: 50px;
  background-color: #f5f5f5;
  width: 120px;
  height: 120px;
  -webkit-transition: .5s all;
  transition: .5s all;
  z-index: 0;
}

#our-services .container .row .services-card img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

#our-services .container .row .services-card .our-services-context h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #3b566e;
  padding: 10px 0;
}

#our-services .container .row .services-card .our-services-context p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 350px;
  color: #3b566ea9;
}
/*# sourceMappingURL=style.css.map */