* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1150px !important;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
}

@media only screen and (max-width: 992px) {
  .navbar {
    max-height: 80px;
  }
  .navbar .logo {
    max-width: calc(100%/12*2) !important;
  }
  .navbar .menu {
    display: none;
  }
  .navbar .login {
    display: none;
  }
  .navbar .menu-icon {
    max-width: calc(100%/12*2) !important;
    display: inline !important;
    margin-right: 10px;
  }
  .navbar .menu-active {
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
  .bottom-header .left-side {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-header .left-side .context {
    text-align: center;
    height: 300px;
  }
}

.navbar {
  padding: 5px 0px;
  height: 100px;
  position: relative;
}

.navbar .menu-icon {
  display: none;
}

.navbar .menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .menu > ul li {
  padding: 20px 0;
  cursor: pointer;
  position: relative;
}

.navbar .menu > ul li:hover ul.sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar .menu > ul li ul {
  top: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 200px;
  height: auto;
  list-style: none;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
}

.navbar .menu > ul li ul li {
  margin: 0;
  padding: 8px 20px;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .menu > ul li ul li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  top: 0;
  bottom: 0;
  background-color: #585ce9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .menu > ul li ul li:hover {
  background: #f5f5f5;
  padding-left: 25px;
}

.navbar .menu > ul li ul li:hover::before {
  width: 3px;
}

.navbar .menu > ul li ul li a {
  font-size: 13px;
  font-weight: 300;
  color: #3b566e;
  letter-spacing: 1px;
  font-family: 'Nunito', sans-serif;
}

.navbar .menu > ul li i {
  margin-left: 5px;
  font-size: 8px;
  color: #6f8ba4;
}

.navbar .menu > ul li a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #6f8ba4dc;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar .login > ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}

.navbar .login > ul li {
  cursor: pointer;
}

.navbar .login > ul li a {
  text-decoration: none;
  width: 110px;
  height: 32px;
  border: 1px solid #585ce9;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 1px;
}

.navbar .login > ul li a.sign-up {
  color: #fff;
  background-color: #585ce9;
}

.navbar .login > ul li a.sign-up:hover {
  color: #585ce9;
  background-color: #fff;
}

.navbar .login > ul li a.sign-in:hover {
  color: #fff;
  background-color: #585ce9;
}

.navbar .menu-icon span {
  display: block;
  line-height: 10px;
  font-weight: 900;
  color: #3b566e;
}

.navbar .menu-responsive {
  visibility: hidden;
  padding-top: 25px;
  -webkit-transition: .3s all;
  transition: .3s all;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: #fff;
}

.navbar .menu-responsive ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .menu-responsive ul li {
  padding: 10px;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
}

.navbar .menu-responsive ul li:hover {
  background: #f5f5f5;
}

.navbar .menu-responsive ul li a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #6f8ba4dc;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.navbar .menu-responsive ul li i {
  margin-left: 5px;
  font-size: 8px;
  color: #6f8ba4;
  padding-right: 25px;
}

.navbar .menu-responsive ul .sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  width: 100%;
  overflow: hidden;
  background: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.navbar .menu-responsive ul .sub-menu li {
  margin: 0;
  border-bottom: 1px solid #f5f5f5;
  padding: 8px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .menu-responsive ul .sub-menu li:hover {
  background: #f5f5f5;
}

.navbar .menu-responsive ul .sub-menu li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  color: #3b566e;
  letter-spacing: 1px;
  font-family: 'Nunito', sans-serif;
}

.bottom-header .container .left-side .context {
  width: 410px;
}

.bottom-header .container .left-side .context h1 {
  font-weight: 400;
  font-size: 28px;
  color: #1e3056;
  line-height: 45px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.bottom-header .container .left-side .context h1 span {
  color: #585ce9;
}

.bottom-header .container .left-side .context p {
  color: #697ba2;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.bottom-header .container .left-side .context a {
  text-decoration: none;
  width: 110px;
  height: 32px;
  border: 1px solid #585ce9;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 1px;
  color: #fff;
  background-color: #585ce9;
}

.bottom-header .container .left-side .context a:hover {
  background-color: #2127e2;
}

.bottom-header .container .right-side {
  height: 550px;
}

.bottom-header .container .right-side .card-1 .image-1 {
  height: 55%;
  overflow: hidden;
}

.bottom-header .container .right-side .card-1 .image-1 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.bottom-header .container .right-side .card-1 .image-1 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bottom-header .container .right-side .card-1 .image-2 {
  height: 45%;
  overflow: hidden;
}

.bottom-header .container .right-side .card-1 .image-2 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.bottom-header .container .right-side .card-1 .image-2 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bottom-header .container .right-side .card-2 .image-3 {
  height: 45%;
  overflow: hidden;
}

.bottom-header .container .right-side .card-2 .image-3 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.bottom-header .container .right-side .card-2 .image-3 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bottom-header .container .right-side .card-2 .image-4 {
  height: 55%;
  overflow: hidden;
}

.bottom-header .container .right-side .card-2 .image-4 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.bottom-header .container .right-side .card-2 .image-4 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */