.bottom-header {
  .container {
    .row {
      .left-side {
        padding: 0 10px;
        .context {
          padding: 0 20px;
          h1 {
            font-weight: 400;
            font-size: 28px;
            color: #1e3056;
            line-height: 45px;
            letter-spacing: 1px;
            padding-bottom: 20px;
            span {
              color: #585ce9;
            }
          }
          p {
            color: #697ba2;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            padding-bottom: 20px;
          }
          a {
            @extend %primary-btn;
          }
        }
      }
      .right-side {
        height: 500px;
        padding: 0 10px;
        .card-1 {
          .image-1 {
            height: 55%;
            overflow: hidden;
            img {
              object-fit: cover;
              height: 100%;
              border-radius: 5px;
              transition: 0.5s;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
          .image-2 {
            height: 45%;
            overflow: hidden;
            img {
              object-fit: cover;
              height: 100%;
              border-radius: 5px;
              transition: 0.5s;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
        .card-2 {
          .image-3 {
            height: 45%;
            overflow: hidden;
            img {
              object-fit: cover;
              height: 100%;
              border-radius: 5px;
              transition: 0.5s;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
          .image-4 {
            height: 55%;
            overflow: hidden;
            img {
              object-fit: cover;
              height: 100%;
              border-radius: 5px;
              transition: 0.5s;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}
