#cloud-services {
  background: #f7fafd;
  padding: 80px 0;
  .container {
    .row {
      .left-side {
        padding: 0 30px;
        .context {
          h2 {
            color: #3b566e;
            font-size: 28px;
            font-weight: 400;
          }
          p {
            padding: 10px 0;
            color: #6f8ba4;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
          }
          .category {
            div {
                border-radius: 5px;
              overflow: hidden;
              height: 40px;
              width: 250px;
              margin: 8px;
              position: relative;
              &::after {
                content: '';
                cursor: pointer;
                position: absolute;
                background: #edf6ff;
                width: 100px;
                height: 100px;
                left: -40px;
                top: 0;
                transform: rotate(-45deg);
                transition: 0.3s;
              }
              &.active-after {
                &::after {
                  background: #585ce9;
                  left: -30px;
                }
                a {
                  padding-left: 70px;
                }
                i{
                    color: white;
                }
              }
              &:hover {
                &::after {
                  background: #585ce9;
                  left: -30px;
                }
                a {
                    padding-left: 70px;
                }
                i{
                    color: white;
                }
              }
              a {
                transition: 0.3s;
                display: inline-block;
                width: 100%;
                height: 100%;
                padding-top: 10px;
                font-size: 14px;
                font-weight: 400;
                background-color: white;
                text-decoration: none;  
                 color: #3B566E;
                letter-spacing: 1px;
                border-radius: 5px;
                padding-left: 60px;
            }
              i{
                  color: black;
                  position: absolute;
                  font-size: 10px;
                  z-index: 9999;
                  left: 30px;
                  top: 50%;
                  transform: translate(-50%,-50%);
                  cursor: pointer;
              }
            }
          }
        }
      }
      .right-side{
          display: flex;
          justify-content: center;
          align-items: center;
          .cloud-mage{
              img{

              }
          }

      }
    }
  }
}
