.navbar {
  height: 72px;
  padding: 5px;
  .logo {
    a {
      img {
      }
    }
  }
  .menu {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        cursor: pointer;
        &.discover-menu,
        &.pages-menu {
          position: relative;
          ul.sub-menu {
            visibility: hidden;
            opacity: 0;
            transform: translateY(-20px);
            transition: .5s;
            position: absolute;
            padding: 0;
            margin: 0;
            top: 40px;
            list-style: none;
            width: 200px;
            height: auto;
            background: #fff;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.089);
            border-radius: 5px;
            overflow: hidden;
            li {
              margin: 0;
              padding: 10px 20px;
              border-bottom: 1px solid #f5f5f5;
              a {
                letter-spacing: 1px;
                color: #3b566e;
                font-size: 13px;
                font-family: 'Nunito', sans-serif;
                font-weight: 300;
              }
            }
          }
          &:hover {
            & ul.sub-menu {
              opacity: 1;
              visibility: visible;
            transform: translateY(0);
          }
          }
        }
        i {
          margin-left: 5px;
          font-size: 8px;
          color: #6f8ba4;
        }
        a {
          text-decoration: none;
          font-family: 'Nunito', sans-serif;
          color: #6f8ba4;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
    }
  }
  .login {
    > ul {
      list-style: none;
      margin-bottom: 0;
      li {
        cursor: pointer;
        a {
          text-decoration: none;
          width: 110px;
          height: 32px;
          border: 1px solid #585ce9;
          border-radius: 5px;
          font-size: 12px;
          font-weight: 700;
          padding: 8px 35px;
          transition: 0.5s;
          letter-spacing: 1px;
          &.sign-up {
            color: #fff;
            background-color: #585ce9;
            &:hover {
              color: #585ce9;
              background-color: #fff;
            }
          }
          &.sign-in {
            &:hover {
              color: #fff;
              background-color: #585ce9;
            }
          }
        }
      }
    }
  }
}
