* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1150px !important;
	margin: 0 auto;
}

.img-fluid {
	max-width: 100%;
}

@media only screen and (max-width: 992px) {
	.navbar {
		max-height: 80px;
		.logo {
			max-width: calc(100%/12*2) !important;
		}
		.menu {
			display: none;
		}
		.login {
			display: none;
		}
		.menu-icon {
			max-width: calc(100%/12*2) !important;
			display: inline !important;
			margin-right: 10px;
		}
		.menu-active {
			visibility: visible !important;
			opacity: 1 !important;
			display: block !important;
			transform: translateY(0) !important;
		}
	}
	#welcome-solutions{
		.left-side{
			align-items: center;
			.context{
				text-align: center;
				height: 300px;
			}
		}
	}
}
