* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1150px !important;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
}

@media only screen and (max-width: 992px) {
  .navbar {
    max-height: 80px;
    .logo {
      max-width: calc(100% / 12 * 2) !important;
      padding-left: 25px !important;
    }
    .menu {
      display: none;
    }
    .login {
      display: none;
    }
    .menu-icon {
      max-width: calc(100% / 12 * 2) !important;
      display: inline !important;
    }
  }
  .menu-active {
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
    transform: translateY(0) !important;
  }
  .bottom-header {
    .left-side {
      align-items: center;
      .context {
        text-align: center;
      }
    }
    .right-side {
      margin-top: 50px;
      img {
        width: 350px !important;
      }
    }
    &::after{
      display: none !important;
      width: 0;
      height: 0;
    }
  }
  #welcome-cards {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  #cloud-services {
    .left-side {
      width: calc(100% / 12 * 12) !important;
      text-align: center;
      .context {
        h2 {
          font-size: 16px !important;
        }
        text-align: left;
        .category {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div {
            width: calc(100% / 12 * 12) !important;
          }
        }
      }
      margin-bottom: 20px;
    }
    .right-side {
      width: calc(100% / 12 * 12) !important;
      justify-content: center;
      align-items: center;
    }
  }
  #design-development {
    .right-side {
      width: calc(100% / 12 * 12) !important;
      text-align: center;
      .context {
        text-align: left;
        h2 {
          font-size: 16px !important;
        }
        .category {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div {
            width: calc(100% / 12 * 12) !important;
          }
        }
      }
    }
    .left-side {
      margin-bottom: 20px;
      width: calc(100% / 12 * 12) !important;
      justify-content: center;
      align-items: center;
    }
  }
  #our-team {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 80px;
      .item-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .context {
          P {
            max-width: 400px;
          }
        }
      }
    }
  }
  #pricing-plans {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      .pricing-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  #blog-posts {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 80px;
      .blog-posts-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  #our-mission {
    .container {
      .row {
        .our-mission-context {
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          align-items: center;
          .our-right-side {
            width: 100% !important;
            margin-top: 50px;
            position: static !important;
            transform: translate(0) !important;
          }
        }
      }
    }
  }
  #our-vision {
    .container {
      .row {
        .our-vision-context {
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          align-items: center;
          .our-left-side {
            width: 100% !important;
            margin-bottom: 50px;
            position: static !important;
            transform: translate(0) !important;
          }
        }
      }
    }
  }
  footer {
    .left-side-logo {
      padding-bottom: 30px;
    }
    .helpful-links {
      padding-bottom: 30px;
    }
    .support {
      padding-bottom: 30px;
    }
    .contact {
      padding-bottom: 30px;
    }
    .footer-copyright {
      padding-bottom: 30px;
    }
  }
  #message-us{
.right-side-inputs{
	.name-email{
		flex-direction: column;
		align-items: start !important;
		justify-content:  flex-start;
		gap: 20px;
	.input-info{
		width: 100% !important;
	}
	}
}
  }
  #blog-cards{
    .submit-comment{
      text-align: center;
      padding: 15px !important;
      .name-email{
        flex-direction: column;
      }
    }
    .blog-search{
      margin-top: 30px;
    }
    .blog-comments{
      .comments{
        li{
          flex-direction: column !important;
        }
      }
    }
  }
}
